# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
uvicorn==0.20.0
fastapi==0.88.0
pydantic==1.10.2
sqlalchemy==1.4.32
psycopg2==2.8.6
numpy==1.23.5
